.Burger {
  width: 30%;
  height: 80%;
  margin-left: 10%;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  float: left;
  padding-top: 40px;
}

@media (max-width: 800px) {
  .Burger {
    width: 40%;
    height: 40%;
    margin-left: none;
    margin: auto;
    float: none;
    padding-top: 20px;
  }
}

@media (max-width: 500px) {
  .Burger {
    width: 60%;
    height: 40%;
    margin-left: none;
    margin: auto;
    float: none;
    padding-top: 0px;
  }
}

.BurgerOrdered {
  width: 40%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  position: relative;
}

@media (max-width: 800px) {
  .BurgerOrdered {
    width: 45%;
    height: 80%;
  }
}

@media (max-width: 500px) {
  .BurgerOrdered {
    width: 50%;
    height: 60%;
  }
}

/* @media (min-width: 1000px) and (min-height: 700px) {
  .BurgerOrdered {
    width: 700px;
    height: 600px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .BurgerOrdered {
    width: 450px;
    height: 400px;
  }
} */
