.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 8px 0;
}

.NavigationItem a {
  color: rgb(112, 68, 26);
  text-decoration: none;
  width: 100%;
  box-sizing:border-box;
  display: block;
  
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #CF8F2E;
}

@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    font-size: 15px;
    align-items: center;
    padding: 0;
}
  
  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: rgb(156, 109, 65);
    border-bottom: 5px solid rgb(233, 190, 125);
    color: white;
  }
  
}